<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects | API.com</title>
    <link rel="shortcut icon" type="image" href="/images/logo1-bar-icon.png">

    <link rel="stylesheet" href="/css/mainMenu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css">
</head>
<style>
    html, body {
        min-height: 100%;
    }
    body, div, form, input, select, p {
        font-size: 14px;
    }
    .main-block {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
    }
    form {
        width: 100%;
        padding: 20px;
    }
    fieldset {
        border: none;
        border-top: 1px solid #287afd;
    }
    .account-details, .personal-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .account-details >div, .personal-details >div >div {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .account-details >div, .personal-details >div, input, label {
        width: 100%;
    }
    label {
        padding: 0 5px;
        text-align: right;
        vertical-align: middle;
    }
    input {
        padding: 5px;
        vertical-align: middle;
    }
    .checkbox {
        margin-bottom: 10px;
    }
    select, .children, .gender, .bdate-block {
        width: calc(100% + 26px);
        padding: 5px 0;
    }
    select {
        background: transparent;
    }
    .gender input {
        width: auto;
    }
    .gender label {
        padding: 0 5px 0 0;
    }
    .checkbox input, .children input {
        width: auto;
        margin: -2px 10px 0 0;
    }
    .checkbox a {
        color: #287afd;
    }
    .checkbox a:hover {
        color: #0047b9;
    }
    .legend-label{
        font-weight: normal;
        margin: 0.5rem;
    }
    @media (min-width: 568px) {
        .account-details >div, .personal-details >div {
            width: 50%;
        }
        label {
            width: 40%;
        }
        input {
            width: 60%;
        }
        select, .children, .gender, .bdate-block {
            width: 60%;
        }
    }
</style>

<body>
<!--<div hidden="logguedUser" id="logguedUser" th:text="${loguedUser}"></div>-->
<!--  Side Panel  -->
<div class="container">
    <div class="navigation">
        <ul>
            <li id="logo" class="hovered">
                <a href="/menu">
                    <img class="menu-icon" src="/images/logo1.png" alt="logo" style="width: 4.5rem; height: auto; z-index: 1">
                    <img class="menu-logo" src="/images/logo2.png" alt="logo" style="width: 14rem; height: auto">
                </a>
            </li>
            <li id="menu">
                <a href="/menu">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="title">Main Menu</span>
                </a>
            </li>
            <li id="myProjects" class="hovered">
                <a href="/project/">
                    <span class="icon"><ion-icon name="code-slash-outline"></ion-icon></span>
                    <span class="title">My Projects</span>
                </a>
            </li>
<!--            <li id="adminProjects" th:if="${userLogged.roles[0].id == 1}">-->
<!--                <a href="/project/">-->
<!--                    <span class="icon"><ion-icon name="cog-outline"></ion-icon></span>-->
<!--                    <span class="title">Manage Projects</span>-->
<!--                </a>-->
<!--            </li>-->
            <li id="adminUsers" th:if="${userLogged.roles[0].id == 1}">
                <a href="/user/">
                    <span class="icon"><ion-icon name="people-circle-outline"></ion-icon></ion-icon></span>
                    <span class="title">Manage Users</span>
                </a>
            </li>
            <li>
            <li id="profile" class="profile">
                <div class="user-profile">
                    <img src="/images/user_icon.jpg" alt="User Profile Picture">
                    <div class="user-details">
                        <div class="user-name" th:text="${userLogged.username}">Username</div>
                        <div class="user-role">
                            <span th:text="${userLogged.roles[0].id == 1 ? 'Administrator' : 'User'}">Admin</span>
                        </div>
                    </div>
                </div>
                <div class="logout-icon" title="Logout" >
                    <ion-icon id="logButton" name="log-out-outline"></ion-icon>
                </div>
            </li>
        </ul>
    </div>
    <!--  end of Side Panel  -->

    <!--  Main Panel  -->
    <div class="main">
        <!-- TopBar -->
        <div class="topbar">
            <div class="toggle">
                <ion-icon name="menu"></ion-icon>
            </div>
            <h1 class="title1">Projects Workshop</h1><br>
        </div>
        <!-- end of Topbar -->

        <h1 class="mt-5 ml-5" th:text="${mockResponse != null ? 'Mock API Edition Center' : 'Mock API Creation Center'}"></h1><br>
        <span>
            <h2 class="inline-block" style="font-weight: normal; padding-left:3rem" th:text="${mockResponse != null ? 'Editing mock information for: ' : 'New mock for: '}"></h2>
            <h2 class="font-weight-bold inline-block pl-1" style="margin-bottom: -0.5rem" th:text="${projectResponse.body.data.name}"></h2>
        </span>
        <br>
        <span>
            <h3 class="inline-block" style="font-weight: normal; padding-left:3rem">Project ID:</h3>
            <h3 class="font-weight-bold inline-block pl-1" th:text="${projectResponse.body.data.id}"></h3>
            <h3 class="font-weight-bold inline-block pl-1" th:if="${mockResponse != null}" th:text="${mockResponse.body.data.id}"></h3>
        </span>
        <br>

        <div class="main-block">
            <form id="mockForm" action="/">
                <fieldset>
                    <legend>
                        <h3 class="legend-label">REST API Mock</h3>
                    </legend>
                    <div class="account-details">
                        <div style="width: 100% !important;">
                            <label th:text="#{label.path} + '*'"></label>
                            <input th:required="true" style="width: 162% !important" type="text" name="path"
                                   th:value="${mockResponse != null ? mockResponse.body.data.path : ''}" required>
                        </div>
                        <div>
                            <label th:text="#{label.method} + '*'"></label>
                            <select name="method" required>
                                <option value="" th:selected="${mockResponse == null}">&lt;Select One&gt;</option>
                                <option value="GET" th:selected="${mockResponse != null && mockResponse.body.data.method == 'GET'}">GET</option>
                                <option value="POST" th:selected="${mockResponse != null && mockResponse.body.data.method == 'POST'}">POST</option>
                                <option value="PATCH" th:selected="${mockResponse != null && mockResponse.body.data.method == 'PATCH'}">PATCH</option>
                                <option value="PUT" th:selected="${mockResponse != null && mockResponse.body.data.method == 'PUT'}">PUT</option>
                                <option value="DELETE" th:selected="${mockResponse != null && mockResponse.body.data.method == 'DELETE'}">DELETE</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        <h3 class="legend-label font-weight-bold" th:text="#{label.requestDetails}"></h3>
                    </legend>
                    <div class="account-details header-container">
                        <div>
                            <label th:text="#{label.contentType} + '*'"></label>
                            <input type="text" name="contentType" required
                                   th:value="${mockResponse != null ? mockResponse.body.data.contentType : ''}">
                        </div>
                        <div>
                            <label th:text="#{label.contentEncoding} + '*'"></label>
                            <input type="text" name="contentEncode" required
                                   th:value="${mockResponse != null ? mockResponse.body.data.contentEncode : ''}">
                        </div>
                        <div style="width: 100% !important;">
                            <label th:text="#{label.headers}"></label>
                            <a style="width: 162% !important; justify-content: start !important; cursor: default"
                               href="#" class="ml-4 mt-1 icon-container add-header">
                                <ion-icon class="icon info" style="cursor: pointer" name="add-circle-outline"></ion-icon>
                            </a>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        <h3 class="legend-label font-weight-bold" th:text="#{label.responseDetails}"></h3>
                    </legend>
                    <div class="account-details">
                        <div>
                            <label th:text="#{label.responseCode} + '*'"></label>
                            <input type="number" name="code" required
                                   th:value="${mockResponse != null ? mockResponse.body.data.code : ''}">
                        </div>
                        <div>
                            <label th:text="#{label.responseDelay} + #{label.seconds}"></label>
                            <input type="number" name="delay" required
                                   th:value="${mockResponse != null ? mockResponse.body.data.delay : 0}">
                        </div>
                        <div style="width: 100% !important;">
                            <label style="width: 25% !important;" th:text="#{label.responseBody} + '*'"></label>
                            <textarea name="body" rows="25" style="width: 100%;"
                                      th:if="${mockResponse != null}" th:text="${mockResponse.body.data.body}">
                            </textarea>
                            <textarea name="body" rows="25" style="width: 100%;"
                                      th:unless="${mockResponse != null}">
                            </textarea>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        <h3 class="legend-label" th:text="#{label.generalDetails}"></h3>
                    </legend>
                    <div class="account-details">
                        <div>
                            <label th:text="#{label.displayName} + '*'"></label>
                            <input type="text" name="name" required
                                   th:value="${mockResponse != null ? mockResponse.body.data.name : ''}">
                        </div>
                        <div>
                            <label th:text="#{label.expiration}"></label>
                            <select name="expirationId" required>
                                <option th:each="expiration : ${expirationList}"
                                        th:value="${expiration.id}"
                                        th:text="${expiration.name}"
                                        th:selected="${mockResponse != null ? expiration.name eq mockResponse.body.data.expirationName : false}">
                                </option>
                            </select>
                        </div>
                        <div style="width: 100% !important;">
                            <label th:text="#{label.description}"></label>
                            <input style="width: 162% !important" type="text" name="description" required
                                   th:value="${mockResponse != null ? mockResponse.body.data.description : ''}">
                        </div>
                        <div>
                            <label th:text="#{label.enableJwt} + '?'"></label>
                            <input type="checkbox" id="enableJWT" data-toggle="switch"
                                   th:checked="${mockResponse != null && mockResponse.body.data.enableJwt}">
                        </div>
                    </div>
                </fieldset>
                <div class="mt-4" style="display: flex; justify-content: space-between; align-items: center">
                    <a href="#" th:data-id="${projectResponse.body.data.id}" class="cancel-btn inline-block">Cancel</a>
                    <button type="button" class="submit-btn inline-block" th:data-id="${projectResponse.body.data.id}"
                            th:data-mock-id="${mockResponse != null ? mockResponse.body.data.id : ''}">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="/js/mainMenu.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>


<script th:inline="javascript">
    var mockResponse = /*[[${mockResponse}]]*/ null;
    let enableJwt = false;
    let headerCounter = 1;

    $(document).ready(function() {
        prefillHeaders();

        $('.cancel-btn').click(function (event) {
            event.preventDefault();
            var projectId = $(this).attr('data-id');
            window.location.href='/project/'+projectId;
        });

        // Add Header dynamically
        $('.add-header').on('click', function () {
            addHeader('','');
        });

        // Remove Header dynamically
        $('#mockForm').on('click', '.remove-header', function () {
            removeHeader($(this).parent().prev(), $(this).parent());
        });

        $('#enableJWT').change(function() {
            enableJwt = $(this).prop('checked');
        });
        $('.submit-btn').click(function (event) {
            event.preventDefault();

            var projectId = $(this).attr('data-id');
            var mockId = $(this).attr('data-mock-id');
            submitForm(projectId, mockId);
        });
    });
    function prefillHeaders() {
        if (mockResponse && mockResponse.body.data.header) {
            const headersArray = JSON.parse(mockResponse.body.data.header);
            headersArray.forEach(header => {
                addHeader(header.key, header.value);
            });
        }
    }

    function addHeader(keyValue, valueValue) {
        // Create new div for each set of Key and Value
        const keyDiv = $('<div></div>');
        keyDiv.append(`
            <label>Key</label><input type="text" name="headerKey${headerCounter}" value="${keyValue}" required>
        `);

        const valueDiv = $('<div></div>');
        valueDiv.append(`
            <label>Value</label>
            <input type="text" name="headerValue${headerCounter}" value="${valueValue}" required>
            <a href="#" class="ml-1 icon-container remove-header">
                <ion-icon class="icon delete" name="close-outline"></ion-icon>
            </a>
        `);

        // Append the new div to the existing container
        const headersContainer = $('.header-container');
        headersContainer.append(keyDiv);
        headersContainer.append(valueDiv);

        headerCounter++; // Increment the counter for the next set of Key and Value
    }
    function removeHeader(keyDiv, valueDiv) {
        // Remove the clicked set of Key and Value along with the div before it
        if (keyDiv && valueDiv) {
            keyDiv.remove();
            valueDiv.remove();
            headerCounter--; // Decrement the counter for the removed set and its previous set
        }
    }
    function submitForm(projectId, mockId) {
        // Get form data
        const form = document.getElementById('mockForm');
        const formData = new FormData(form);
        const headersData = [];

        // Validate form inputs (you may add your custom validation logic here)
        let isValid = true;
        formData.forEach((value, key) => {
            // Add your custom validation logic here
            if (key === 'method' && value === '') {
                Swal.fire({
                    icon: 'warning',
                    title: 'Method Selection',
                    text: 'Please select a Method for your mock.',
                })
            } else if (value.trim() === '') {
                isValid = false;
                Swal.fire({
                    icon: 'warning',
                    title: 'Incomplete Fields',
                    text: 'Please complete all fields.',
                });
            } else if (key.startsWith('headerKey')) {
                // Format headers into an array of objects
                const headerNum = key.match(/\d+/)[0];
                const headerValue = formData.get(`headerValue${headerNum}`);
                const headerObject = {
                    key: value.toLowerCase(),
                    value: headerValue
                };
                headersData.push(headerObject);
            }
        });
        // Insertando los headers a una lista "header" y eliminando los elementos individuales
        const formDataObject = {};
        formData.forEach((value, key) => {
            if (!key.startsWith('headerKey') && !key.startsWith('headerValue')) {
                formDataObject[key] = value;
            }
        });
        formDataObject['enableJwt'] = enableJwt;

        formDataObject.project_id = projectId;
        formDataObject.header = headersData;

        var url = '/mock/';
        var swalMessage = 'Mock created successfully.';
        if(mockId !== undefined){
            url = '/project/'+projectId+'/update/'+mockId;
            swalMessage = 'All changes saved successfully.';
        }


        // Perform form submission
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(formDataObject),
        })
        .then(response => response.json())
        .then(response => {
            if (response.error) {
                console.log('ERROR - Extra: ' + response.extra);
                Swal.fire('Error ' + response.code, response.message, 'error');
            } else {
                Swal.fire('Saved!', swalMessage, 'success')
                .then(() => {
                    window.location.href = `/project/`+projectId;
                });
            }
        })
        .catch(error => {
            console.error('Error:', error);
            Swal.fire('Error!', 'FATAL ERROR: An unexpected error occurred.', 'error');
        });
    }
</script>
</body>
</html>