<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ICC Market | Registrarse</title>
  <link rel="shortcut icon" type="image" href="/images/LogoPUCMM.png">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@300;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styleLogin.css" />

  <script src="https://kit.fontawesome.com/ffec4ec2ed.js" crossorigin="anonymous"></script>
</head>

<body class="bg-dark">
<section>
  <div class="row g-0">
    <div class="col-lg-7 d-none d-lg-block">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item min-vh-100 active" style="background: url(./images/img-2.jpg) top/cover no-repeat"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 bg-dark d-flex flex-column align-items-end min-vh-100">
      <div class="px-lg-5 pt-lg-4 pb-lg-3 p-4 mb-auto w-100" style="display: inline;">
        <table>
          <tr>
            <td><img src="./images/LogoPUCMM.png" class="img-fluid" width="74" height="74" /></td>
            <td><h2 class="font-weight-bold mb-4">&nbsp&nbsp&nbspICC MARKET</h2></td>
          </tr>
        </table>
      </div>
      <div class="align-self-center w-100 px-lg-5 py-lg-4 p-4">

        <form class="mb-4" id="frmProducto" method="post" action="/register">
          <div class="mb-3" th:if="${valid == true}">
            <label for="username" class="form-label font-weight-bold">Nombre de Usuario</label>
            <input name="username" type="text" class="form-control bg-dark-x border-0" id="username" placeholder="Ingresa tu nombre de usuario" required>
          </div>
          <div class="mb-3" th:if="${valid == false}">
            <label for="username" class="form-label font-weight-bold">Nombre de Usuario</label>
            <input name="username" type="text" class="form-control is-invalid bg-dark-x border-0" id="username2" placeholder="Ingresa tu nombre de usuario" required>
            <div class="invalid-feedback">El nombre de usuario ingresado ya existe.</div>
          </div>
          <div class="mb-3">
            <label for="nombre" class="form-label font-weight-bold">Nombre</label>
            <input name="nombre" type="text" class="form-control bg-dark-x border-0" id="nombre" placeholder="Ingresa tu Nombre" required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label font-weight-bold">Correo El&eacutectr&oacutenico</label>
            <input name="email" type="email" class="form-control bg-dark-x border-0" id="email" placeholder="Ingresa tu correo electronico" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label font-weight-bold">Contrase&ntildea</label>
            <input name="password" type="password" class="form-control bg-dark-x border-0 mb-2" placeholder="Ingresa tu contrasena" id="password" required>
          </div>
          <div class="container" style="padding: 0 0 1em 0;">
            <button type="submit" class="btn btn-primary w-100">Registrarse</button>
          </div>
          <button type="button" class="btn btn-danger w-100" style="height: 40px" onclick="window.location.href='./home?offset=0'">Cancelar</button>
        </form>
      </div>
      <div class="text-center px-lg-5 pt-lg-3 pb-lg-4 p-4 mt-auto w-100">
        <p class="d-inline-block mb-0">&iquestYa tienes una cuenta?</p> <a href="/login" class="text-light font-weight-bold text-decoration-none">Ingresa aqu&iacute</a>
      </div>
    </div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>

</body>
</html>